body{
    
    display :center;
    font-size: 2em;
    color: yellow;
    text-align: center;
    font-family: 'Pattaya',cursive;
    text-shadow: 3px 2px darkblue;

 
  background-attachment: fixed;
  background-size: 100% 100%;
}

header {
  background-color:lightgray;
  text-align: center;
  border-style: groove;
  border-width: 0px;
  border-radius: 15px


}
.style{
   
   color: white;
  
}

